@import "_fonts.scss";

// XXX: check this?
/* Nunito lacks combining diacritics, so these will fall through
   to the next font.  Helevetica's diacritics however do not combine
   nicely with Open Sans (on OSX, at least) and result in a huge
   horizontal mess.  Arial empirically gets it right, hence prioritising
   Arial here. */
$font-family: 'Nunito', Arial, Helvetica, Sans-Serif;

// typical text (dark-on-white in light skin)
$primary-fg-color: #454545;
$primary-bg-color: #ffffff;

// used for dialog box text
$light-fg-color: #747474;

// used for focusing form controls
$focus-bg-color: #dddddd;

// button UI (white-on-green in light skin)
$accent-fg-color: #ffffff;
$accent-color: #f56679;

$selection-fg-color: $primary-bg-color;

$focus-brightness: 125%;

// red warning colour
$warning-color: #ff0064;
// background colour for warnings
$warning-bg-color: #DF2A8B;
$info-bg-color: #2A9EDF;
$mention-user-pill-bg-color: #ff0064;
$other-user-pill-bg-color: rgba(0, 0, 0, 0.1);

// pinned events indicator
$pinned-unread-color: #ff0064; // $warning-color
$pinned-color: #888;

// informational plinth
$info-plinth-bg-color: #f7f7f7;
$info-plinth-fg-color: #888;

$preview-bar-bg-color: #f7f7f7;

// left-panel style muted accent color
$secondary-accent-color: #f2f5f8;
$tertiary-accent-color: #d3efe1;

$tagpanel-bg-color: #2e3649;

// used by RoomDirectory permissions
$plinth-bg-color: $secondary-accent-color;

// used by RoomDropTarget
$droptarget-bg-color: rgba(255,255,255,0.5);

// used by AddressSelector
$selected-color: $secondary-accent-color;

// selected for hoverover & selected event tiles
$event-selected-color: #f7f7f7;

// used for the hairline dividers in RoomView
$primary-hairline-color: #e5e5e5;

// used for the border of input text fields
$input-border-color: #f0f0f0;
$input-darker-bg-color: rgba(193, 201, 214, 0.29);
$input-darker-fg-color: #9fa9ba;
$input-lighter-bg-color: #f2f5f8;
$input-lighter-fg-color: $input-darker-fg-color;

$button-bg-color: #7ac9a1;
$button-fg-color: white;

// apart from login forms, which have stronger border
$strong-input-border-color: #c7c7c7;

// used for UserSettings EditableText
$input-underline-color: rgba(151, 151, 151, 0.5);
$input-fg-color: rgba(74, 74, 74, 0.9);

// context menus
$menu-border-color: #ebedf8;
$menu-bg-color: #fff;
$menu-selected-color: #f5f8fa;

$avatar-initial-color: #ffffff;
$avatar-bg-color: #ffffff;

$h3-color: #3d3b39;

$dialog-background-bg-color: #e9e9e9;
$lightbox-background-bg-color: #000;

$greyed-fg-color: #888;

$neutral-badge-color: #dbdbdb;

$preview-widget-bar-color: #ddd;
$preview-widget-fg-color: $greyed-fg-color;

$blockquote-bar-color: #ddd;
$blockquote-fg-color: #777;

$settings-grey-fg-color: #a2a2a2;

$voip-decline-color: #f48080;
$voip-accept-color: #80f480;

$rte-bg-color: #e9e9e9;
$rte-code-bg-color: rgba(0, 0, 0, 0.04);
$rte-room-pill-color: #aaa;
$rte-group-pill-color: #aaa;

$topleftmenu-color: #212121;
$roomheader-color: #45474a;
$roomheader-addroom-color: #929eb4;
$roomtopic-color: #9fa9ba;

// ********************

$roomtile-name-color: #929eb4;
$roomtile-selected-color: #212121;
$roomtile-notified-color: #212121;
$roomtile-selected-bg-color: #fff;
$roomtile-focused-bg-color: #fff;

$username-variant1-color: #1e7ddc;
$username-variant2-color: #a756a8;
$username-variant3-color: #7ac9a1;
$username-variant4-color: #f2809d;
$username-variant5-color: #ffc666;
$username-variant6-color: #76ddd7;
$username-variant7-color: #45529b;
$username-variant8-color: #bfd251;

$roomtile-transparent-focused-color: rgba(0, 0, 0, 0.1);

$roomsublist-background: $secondary-accent-color;
$roomsublist-label-fg-color: $roomtile-name-color;
$roomsublist-label-bg-color: $tertiary-accent-color;
$roomsublist-chevron-color: $accent-color;

$panel-divider-color: #dee1f3;

// ********************

$widget-menu-bar-bg-color: $tertiary-accent-color;

// ********************

// event tile lifecycle
$event-encrypting-color: #abddbc;
$event-sending-color: #ddd;
$event-notsent-color: #f44;

// event redaction
$event-redacted-fg-color: #e2e2e2;
$event-redacted-border-color: #cccccc;

// event timestamp
$event-timestamp-color: #acacac;

$edit-button-url: "../../img/icon_context_message.svg";
$copy-button-url: "../../img/icon_copy_message.svg";

// e2e
$e2e-verified-color: #76cfa5; // N.B. *NOT* the same as $accent-color
$e2e-unverified-color: #e8bf37;
$e2e-warning-color: #ba6363;

/*** ImageView ***/
$lightbox-bg-color: #454545;
$lightbox-fg-color: #ffffff;
$lightbox-border-color: #ffffff;

// unused?
$progressbar-color: #000;

// form elements

// .mx_textinput is a container for a text input
// + some other controls like buttons, ...
// it has the appearance of a text box so the controls
// appear to be part of the input

:not(.mx_textinput) > input[type=text],
:not(.mx_textinput) > input[type=search],
.mx_textinput {
    display: block;
    margin: 9px;
    box-sizing: border-box;
    background-color: transparent;
    color: $input-darker-fg-color;
    border-radius: 4px;
    border: 1px solid #c1c1c1;
}

.mx_textinput {
    display: flex;
    align-items: center;
}

.mx_textinput > input[type=text],
.mx_textinput > input[type=search] {
    border: none;
    flex: 1;
    color: inherit; //from .mx_textinput
}

input[type=text],
input[type=search] {
    padding: 9px;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 600;
    min-width: 0;
}

.dark-panel {
    :not(.mx_textinput) > input[type=text],
    :not(.mx_textinput) > input[type=search],
    .mx_textinput {
        color: $input-darker-fg-color;
        background-color: $input-darker-bg-color;
        border: none;
    }
}

.light-panel {
    :not(.mx_textinput) > input[type=text],
    :not(.mx_textinput) > input[type=search],
    .mx_textinput {
        color: $input-lighter-fg-color;
        background-color: $input-lighter-bg-color;
        border: none;
    }
}

input[type=text].mx_textinput_icon,
input[type=search].mx_textinput_icon {
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

input[type=text].mx_textinput_icon.mx_textinput_search,
input[type=search].mx_textinput_icon.mx_textinput_search {
    background-image: url('../../img/icons-search-copy.svg');
}

// dont search UI as not all browsers support it,
// we implement it ourselves where needed instead
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.input[type=text]::-webkit-input-placeholder,
.input[type=text]::-moz-placeholder,
.input[type=search]::-webkit-input-placeholder,
.input[type=search]::-moz-placeholder {
    color: #a5aab2;
}
// ***** Mixins! *****

@define-mixin mx_DialogButton {
    /* align images in buttons (eg spinners) */
    vertical-align: middle;
    border: 0px;
    border-radius: 4px;
    font-family: $font-family;
    font-size: 14px;
    color: $button-fg-color;
    background-color: $button-bg-color;
    width: auto;
    padding: 7px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    cursor: pointer;
    display: inline-block;
    outline: none;
}

@define-mixin mx_DialogButton_hover {
}

@define-mixin mx_DialogButton_danger {
    background-color: $accent-color;
}

@define-mixin mx_DialogButton_small {
    @mixin mx_DialogButton;
    font-size: 15px;
    padding: 0px 1.5em 0px 1.5em;
}
