/*
Copyright 2026 hayaksi1

SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE files in the repository root for full details.
*/

.mx_LeaveRoomDialog {
    .mx_Dialog_fixedWidth {
        width: 320px;
        max-width: 100%;
    }

    .mx_Dialog_content:not(:empty) {
        margin-bottom: var(--cpd-space-8x);
        color: var(--cpd-color-text-secondary);
    }

    .mx_Dialog_content:empty {
        margin: 0;
    }
}
