#mx_MessageNotebookDialog {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#mx_MessageNotebookDialog input,
#mx_MessageNotebookDialog textarea {
    width: 100%;
    box-sizing: border-box;
}

.mx_MessageNotebookDialog_error {
    margin: 0;
    color: var(--cpd-color-text-critical-primary);
    font: var(--cpd-font-body-sm-regular);
}
