#mx_MessageNotebookDialog {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#mx_MessageNotebookDialog input,
#mx_MessageNotebookDialog textarea {
    width: 100%;
    box-sizing: border-box;
}
