/*
Copyright 2025 Keypair Establishment.

SPDX-License-Identifier: GPL-3.0-or-later
Please see https://www.gnu.org/licenses/gpl-3.0.html for full license text.
*/

// quali.chat custom
$button-fg-color: var(--cpd-color-bg-canvas-default);
$text-primary-color: var(--text-primary-color);
$tab-label-active-fg-color: $text-primary-color;
$button-primary-fg-color: $text-primary-color;
$inverted-bg-color: $accent;
$accent-fg-color: $text-primary-color;
