*                         @element-hq/element-web-reviewers
/.github/workflows/**     @element-hq/element-web-team
**/package.json           @element-hq/element-web-team
/pnpm-lock.yaml           @element-hq/element-web-team

/apps/web/src/SecurityManager.ts                                                 @element-hq/element-crypto-web-reviewers
/apps/web/test/SecurityManager-test.ts                                           @element-hq/element-crypto-web-reviewers
/apps/web/src/async-components/views/dialogs/security/                           @element-hq/element-crypto-web-reviewers
/apps/web/src/components/views/dialogs/security/                                 @element-hq/element-crypto-web-reviewers
/apps/web/test/components/views/dialogs/security/                                @element-hq/element-crypto-web-reviewers
/apps/web/src/stores/SetupEncryptionStore.ts                                     @element-hq/element-crypto-web-reviewers
/apps/web/test/stores/SetupEncryptionStore-test.ts                               @element-hq/element-crypto-web-reviewers
/apps/web/src/components/views/settings/tabs/user/EncryptionUserSettingsTab.tsx  @element-hq/element-crypto-web-reviewers
/apps/web/src/components/views/settings/encryption/                              @element-hq/element-crypto-web-reviewers
/apps/web/test/unit-tests/components/views/settings/encryption/                  @element-hq/element-crypto-web-reviewers
/apps/web/src/components/views/dialogs/devtools/Crypto.tsx                       @element-hq/element-crypto-web-reviewers
/apps/web/playwright/e2e/crypto/                                                 @element-hq/element-crypto-web-reviewers
/apps/web/playwright/e2e/settings/encryption-user-tab/                           @element-hq/element-crypto-web-reviewers
/packages/shared-components/src/crypto/                                          @element-hq/element-crypto-web-reviewers


/apps/web/src/models/Call.ts                             @element-hq/element-call-reviewers
/apps/web/src/call-types.ts                              @element-hq/element-call-reviewers
/apps/web/src/components/views/voip                      @element-hq/element-call-reviewers
/apps/web/playwright/e2e/voip/element-call.spec.ts       @element-hq/element-call-reviewers

# Ignore translations as those will be updated by GHA for Localazy download
/apps/web/src/i18n/strings
/apps/desktop/src/i18n/strings
/packages/shared-components/src/i18n/strings
/apps/web/src/i18n/strings/en_EN.json                    @element-hq/element-web-reviewers
/apps/desktop/src/i18n/strings/en_EN.json                @element-hq/element-web-reviewers
/packages/shared-components/src/i18n/strings/en_EN.json  @element-hq/element-web-reviewers

# Ignore the synapse & mas plugins as this is updated by GHA for docker image updating
/apps/web/playwright/testcontainers/synapse.ts
/apps/web/playwright/testcontainers/mas.ts

