# Exclude a bunch of stuff which can make the build context a larger than it needs to be
test/
webapp/
lib/
karma-reports/
.idea/
.tmp/
# Exclude the playwright directory as much as we can as the snapshots are huge and we bind mount it in
playwright/
!playwright/docker-entrypoint.sh
