#   Copyright 2024 New Vector Ltd.
#   Copyright 2017 Aviral Dasgupta
#
#   SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only
#   Please see LICENSE files in the repository root for full details.

root = true

[*]
charset=utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{yml,yaml}]
indent_size = 4

[package.json]
indent_size = 4

[*.tsx.snap]
trim_trailing_whitespace = false
