/build
/cert.pem
/dist
/key.pem
/lib
node_modules
/.npmrc
/*.log
package-lock.json
.DS_Store
**/.idea
/webpack-stats.json
/.tmp
.vscode
.vscode/
.env
.env.*
coverage
/index.html
# version file and tarball created by `npm pack` / `yarn pack`
/git-revision.txt
jest-sonar.xml

*storybook.log
storybook-static

/packages/shared-components/node_modules
/packages/shared-components/dist
/packages/shared-components/src/i18nKeys.d.ts

# TSC incremental compilation information
*.tsbuildinfo

/.link-config

.nx/cache
.nx/workspace-data

.pnpm-store

# vitepress
/docs/.vitepress/dist
/docs/.vitepress/cache
