/cert.pem
/karma-reports
/key.pem
/lib
/node_modules
/packages/
/vector/bundle.*
/vector/electron-main.*
/vector/components.css
/vector/emojione/
/vector/electron/
/vector/config.json
/vector/olm.js
.DS_Store
