/*
Copyright 2026 Element Creations Ltd.

SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE files in the repository root for full details.
*/

.description {
    max-width: 272px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: var(--cpd-space-1x) 0 11px 0;
    color: var(--cpd-color-text-secondary);
    font: var(--cpd-font-body-sm-regular);

    a {
        color: var(--cpd-color-text-link-external);
        text-decoration: underline;
    }
}

.buttons {
    display: flex;
    justify-content: flex-end;
    column-gap: var(--cpd-space-2x);
}
