.container {
    color: var(--cpd-color-text-primary);
    svg {
        /* Ensure button icons are primary too */
        color: var(--cpd-color-text-primary) !important;
    }
}

.primaryAction svg {
    color: var(--cpd-color-text-on-solid-primary) !important;
}

.title {
    color: var(--cpd-color-text-critical-primary);
}

.description {
    color: var(--cpd-color-text-secondary);
}
