/*
 * Copyright 2026 Element Creations Ltd.
 *
 * SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
 * Please see LICENSE files in the repository root for full details.
 */

.reactionRow {
    color: var(--cpd-color-text-primary);
}

.showAllButton {
    color: var(--cpd-color-text-secondary);
    margin-inline-start: var(--cpd-space-1x);
    vertical-align: middle;
}

.showAllButton:hover {
    color: var(--cpd-color-text-primary);
}
