/*
 * Copyright 2026 Element Creations Ltd.
 *
 * SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
 * Please see LICENSE files in the repository root for full details.
 */

.disambiguatedProfile {
    display: inline-flex;
    border: 0 !important;
    padding: 0 !important;
    margin: 0;
    font: inherit;
    line-height: inherit;
    text-align: inherit;
    text-decoration: none;
    background-color: inherit !important;
    border-radius: unset !important;
    min-block-size: unset !important;
    color: var(--cpd-color-text-primary) !important;
    justify-content: flex-start;
    gap: 0;
    min-inline-size: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .disambiguatedProfile_displayName {
        font: var(--cpd-font-body-md-semibold);
        letter-spacing: var(--cpd-letter-spacing-body-md);
    }

    .disambiguatedProfile_mxid {
        color: var(--cpd-color-text-secondary);
        font-size: var(--cpd-font-size-body-sm);
        margin-inline-start: 5px;
    }
}
