/*
 * Copyright 2026 New Vector Ltd.
 *
 * SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
 * Please see LICENSE files in the repository root for full details.
 */

.mx_DisambiguatedProfile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.mx_DisambiguatedProfile_displayName {
    font: var(--cpd-font-body-md-semibold);
    margin-inline-end: var(--cpdSpace0X);
    line-height: 1;
}

.mx_DisambiguatedProfile_mxid {
    color: var(--cpd-color-text-secondary);
    font-size: var(--cpd-font-size-body-sm);
    margin-inline-start: 5px; /* there were no 5px spaces in compound */
}
