.mx_SettingsTab_heading {
  font-size: 20px;
  font-weight: 600;
  color: $primary-fg-color;
}

.mx_SettingsTab_subheading {
  font-size: 14px;
  display: block;
  font-family: $font-family-semibold;
  color: $primary-fg-color;
  margin-bottom: 10px;
}

.mx_SettingsTab_section {
  margin-top: 10px;
}
