/*
 * Copyright 2026 Element Creations Ltd.
 * Copyright 2024 New Vector Ltd.
 * Copyright 2020 Tulir Asokan <tulir@maunium.net>
 *
 * SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
 * Please see LICENSE files in the repository root for full details.
 */

.replyTile {
    position: relative;
    padding: 2px 0;
    font: var(--cpd-font-body-md-regular);
}

.replyTile > a {
    display: grid;
    grid-template:
        "sender" auto
        "message" auto
        / 100%;
    max-width: 100%;
    gap: 2px;
    color: var(--cpd-color-text-secondary);
    text-decoration: none;
    transition: color ease 0.15s;
}

.replyTile > a:hover {
    color: var(--cpd-color-text-primary);
}

.notice {
    color: var(--cpd-color-text-secondary);
}

.body {
    display: contents;
}

.clampedBody > * {
    grid-area: message;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.clampedBody > * > [dir] {
    display: inline;
}

.clampedBody :global([data-textual-body-annotation-wrapper]) {
    display: contents;
}

.clampedBody :global([data-textual-body-edited-marker]) {
    display: none;
}

.clampedBody pre {
    overflow-x: scroll;
    overflow-y: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding: 4px;
}

.clampedBody blockquote,
.clampedBody dl,
.clampedBody ol,
.clampedBody p,
.clampedBody pre,
.clampedBody table,
.clampedBody ul {
    margin-bottom: 4px;
}

.info {
    padding-top: 0;
}

.inline > a {
    grid-template:
        "sender        message" auto
        / max-content auto;
    gap: 4px;
}

.sender {
    grid-area: sender;
    display: flex;
    align-items: center;
    gap: 4px;
}

.sender > :first-child {
    flex-shrink: 0;
}

.sender [data-reply-tile-sender-profile] {
    display: inline-block;
    min-width: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: inherit;
    font: var(--cpd-font-body-md-regular);
    text-overflow: ellipsis;
    white-space: nowrap;
}
