/*
Copyright 2026 tim2zg

SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only
Please see LICENSE files in the repository root for full details.
*/

.mx_NetworkProxyModal_dialog {
    width: 520px !important;
    max-width: 520px !important;
    box-sizing: border-box;
    padding: var(--cpd-space-10x) !important; /* 40px padding */
}

.mx_NetworkProxyModal {
    padding: 0;
}
