.mx_UploadBar {
    position: relative;
}

.mx_UploadBar_uploadProgressOuter {
    height: 4px;
    margin-left: 63px;
    margin-top: -1px;
}

.mx_UploadBar_uploadProgressInner {
    background-color: #76cfa6;
    height: 4px;
}

.mx_UploadBar_uploadFilename {
    margin-top: 5px;
    margin-left: 65px;
    opacity: 0.5;
    color: #4a4a4a;
}

.mx_UploadBar_uploadIcon {
    float: left;
    margin-top: 1px;
    margin-left: 14px;
}

.mx_UploadBar_uploadCancel {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    position: relative;
    opacity: 0.6;
    cursor: pointer;
    z-index: 1;
}

.mx_UploadBar_uploadBytes {
    float: right;
    margin-top: 5px;
    margin-right: 30px;
    color: #76cfa6;
}
