/*
Copyright 2019-2024 New Vector Ltd.

SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE files in the repository root for full details.
*/

.mx_E2EIcon {
    width: 16px;
    height: 16px;
    margin: 0 9px;
    display: block;

    svg {
        width: inherit;
        height: inherit;
        display: block;
    }
}

.mx_E2EIcon.mx_E2EIcon_inline {
    display: inline-block;
}
