/*
Copyright 2024 New Vector Ltd.
Copyright 2021 The Matrix.org Foundation C.I.C.

SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE files in the repository root for full details.
*/

.mx_RoomView_body[data-layout="bubble"] {
    .mx_RoomView_timeline,
    .mx_RoomView_statusArea,
    .mx_MessageComposer {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
}

.mx_GenericEventListSummary[data-layout="bubble"] {
    --avatarSize: 32px;
    --gutterSize: 11px;
    --cornerRadius: 12px;
    --maxWidth: 70%;

    /* Generic event list summaries still use the legacy bubble variables. */
    --EventTile_bubble-margin-inline-start: 49px;
    --EventTile_bubble-margin-inline-end: 60px;

    margin-inline-start: var(--EventTile_bubble-margin-inline-start);
    margin-inline-end: var(--EventTile_bubble-margin-inline-end);

    /* increase margin between ELS and the next Event to not have our user avatar overlap the expand/collapse button */
    &[data-expanded="true"] .mx_EventTile_info {
        padding: 2px 0;
        margin-right: 0;

        .mx_ReadReceiptGroup {
            /* match alignment to RRs of chat bubbles */
            inset-inline-end: calc(-1 * var(--ReadReceiptGroup_EventBubbleTile-spacing-end) + 60px);
        }

        &::before {
            inset-inline-end: 0; /* match alignment of the hover background to that of chat bubbles */
        }
    }
}
