/*
Copyright 2024 New Vector Ltd.
Copyright 2022 The Matrix.org Foundation C.I.C.

SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE files in the repository root for full details.
*/

.mx_RoomPreviewCard {
    padding: var(--cpd-space-8x) var(--cpd-space-6x) !important; /* Override SpaceRoomView's default padding */
    margin: auto;
    flex-grow: 1;
    max-width: 480px;
    box-sizing: border-box;
    background-color: $system;
    border-radius: 8px;
    position: relative;
    font: var(--cpd-font-body-md-regular);

    .mx_RoomPreviewCard_notice {
        font-weight: var(--cpd-font-weight-semibold);
        line-height: $font-24px;
        color: $primary-content;
        margin-top: var(--cpd-space-6x);

        svg {
            height: 1em;
            width: 1em;
            margin-right: var(--cpd-space-2x);
            color: $secondary-content;
            vertical-align: -2px;
        }
    }

    .mx_RoomPreviewCard_inviter {
        display: flex;
        align-items: center;
        margin-bottom: var(--cpd-space-5x);
        font-size: $font-15px;

        > div {
            margin-left: var(--cpd-space-2x);

            .mx_RoomPreviewCard_inviter_name {
                line-height: $font-18px;
            }

            .mx_RoomPreviewCard_inviter_mxid {
                color: $secondary-content;
            }
        }
    }

    .mx_RoomPreviewCard_avatar {
        display: flex;
        align-items: center;

        .mx_RoomPreviewCard_video {
            width: 22px;
            height: 22px;
            padding: 14px;
            border-radius: calc((50px + 2 * 3px) / 2);
            background-color: $accent;
            border: 3px solid $system;

            left: calc(-50px / 4 - 3px);

            svg {
                width: inherit;
                height: inherit;
                color: $button-primary-fg-color;
            }
        }

        /* XXX Remove this when video rooms leave beta */
        .mx_BetaCard_betaPill {
            position: absolute;
            inset-block-start: var(--cpd-space-8x);
            inset-inline-end: var(--cpd-space-6x);
        }
    }

    h1.mx_RoomPreviewCard_name {
        margin: var(--cpd-space-4x) 0 !important; /* Override SpaceRoomView's default margins */
    }

    .mx_RoomPreviewCard_topic {
        line-height: $font-22px;
        margin-top: var(--cpd-space-4x);
        max-height: 160px;
        overflow-y: auto;
    }

    .mx_FacePile {
        display: flex;
        align-items: center;
        margin-top: var(--cpd-space-4x);
        /* For enhanced visibility under contrast control */
        outline: 1px solid transparent;

        :first-child {
            flex-shrink: 0;
        }
    }

    .mx_RoomPreviewCard_joinButtons {
        margin-top: var(--cpd-space-5x);
        display: flex;
        gap: var(--cpd-space-5x);

        .mx_AccessibleButton {
            max-width: 200px;
            padding: 14px 0;
            flex-grow: 1;
        }
    }
}
