/*
Copyright 2024 New Vector Ltd.
Copyright 2019 Tulir Asokan <tulir@maunium.net>

SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE files in the repository root for full details.
*/

.mx_EmojiPicker {
    width: 432px;
    height: min(450px, calc(100dvh - 32px));
    max-height: 80vh;
    position: relative;
    overflow: hidden;
    border-radius: 0;
    display: flex;
    flex-direction: column;
}

.mx_EmojiPicker_body {
    flex: 1;
    margin-inline-end: 54px;
    overflow-y: scroll;
}

.mx_EmojiPicker_header {
    position: absolute;
    z-index: 3;
    inset-block: 0;
    inset-inline-end: 0;
    width: 54px;
    padding: 8px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    overflow-y: auto;
    border-inline-start: 1px solid $message-action-bar-border-color;
    background: $background;
}

.mx_EmojiPicker_anchor {
    border: none;
    padding: 0;
    /* We have to explicitly inherit the font as button browser styles are implicitly ignorant */
    font: inherit;
    font-size: $font-20px;
    line-height: 1;
    border: 2px solid transparent;
    background-color: transparent;
    border-radius: 8px;

    width: 40px;
    min-height: 40px;

    color: $primary-content;
    display: inline-block;

    &:not(:disabled) {
        cursor: pointer;
    }
    &:disabled {
        filter: opacity(0.3);
    }

    &:not(:disabled):hover {
        background-color: $focus-bg-color;
        border-color: color-mix(in srgb, $accent 42%, transparent);
    }
}

.mx_EmojiPicker_anchor_visible {
    border-color: $accent;
    background: color-mix(in srgb, $accent 11%, transparent);
}

.mx_EmojiPicker_search {
    min-height: 42px;
    margin: 12px 12px 8px;
    margin-inline-end: 66px;
    border-radius: 10px;
    border: 3px solid color-mix(in srgb, $input-border-color 75%, $system);
    background-color: $spacePanel-bg-color;
    display: flex;

    input {
        flex: 1;
        border: none;
        padding: 8px 12px;
        border-radius: 8px 0 0 8px;
        background: transparent;

        &::placeholder {
            color: var(--cpd-color-text-secondary);
        }
    }

    button {
        border: none;
        background-color: inherit;
        margin: 0;
        padding: 8px;
        align-self: center;
        width: 32px;
        height: 32px;
        cursor: pointer;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

.mx_EmojiPicker_search_icon {
    width: 18px;
    margin: 8px;

    svg {
        width: 100%;
        height: 100%;
        color: $primary-content;
    }
}

.mx_EmojiPicker_category {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mx_EmojiPicker_category_label {
    width: 100%;
    padding: 5px 0;
    font: var(--cpd-font-heading-sm-semibold);
}

.mx_EmojiPicker_list {
    width: 100%;
    padding: 0;
    margin: 0;
}

.mx_EmojiPicker_item_wrapper {
    display: inline-block;
    list-style: none;
    width: 48px;
    height: 48px;
    cursor: pointer;

    &:focus-within {
        background-color: $focus-bg-color;
    }
}

.mx_EmojiPicker_body_showHighlight
    .mx_EmojiPicker_item_wrapper
    [tabindex="0"]
    .mx_EmojiPicker_item {
    background-color: $focus-bg-color;
}

.mx_EmojiPicker_item {
    display: inline-block;
    font-size: $font-28px;
    padding: 7px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 4px;

    &:hover {
        background-color: $focus-bg-color;
    }
}

.mx_EmojiPicker_item_selected {
    color: rgb(0, 0, 0, 0.5);
    border: 1px solid $accent;
    padding: 4px;
}

.mx_EmojiPicker_category_label,
.mx_EmojiPicker_preview_name {
    font-size: $font-16px;
    font-weight: var(--cpd-font-weight-semibold);
    margin: 0;
}

.mx_EmojiPicker_footer {
    margin-inline-end: 54px;
    border-top: 1px solid $message-action-bar-border-color;
    min-height: 74px;
    max-height: 74px;
    padding: 0 8px;
    background: $spacePanel-bg-color;

    display: flex;
    align-items: center;
}

.mx_EmojiPicker_preview_emoji {
    font-size: 34px;
    padding: 8px 16px;
}

.mx_EmojiPicker_preview_text {
    display: flex;
    flex: 1;
    overflow: hidden;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: column;
}

@media only screen and (max-width: 480px) {
    .mx_EmojiPicker {
        width: min(432px, calc(100vw - 24px));
    }
}

.mx_EmojiPicker_name {
    text-transform: capitalize;
}

.mx_EmojiPicker_shortcode {
    color: $light-fg-color;
    overflow-wrap: break-word;
    font: var(--cpd-font-body-md-regular);

    &::before,
    &::after {
        content: ":";
    }
}

.mx_EmojiPicker_quick {
    flex-direction: column;
    justify-content: space-around;
}

.mx_EmojiPicker_quick_header .mx_EmojiPicker_name {
    margin-right: 4px;
}
