/*
 * Copyright 2026 Element Creations Ltd.
 *
 * SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
 * Please see LICENSE files in the repository root for full details.
 */

.thumbnail {
    max-width: 100px;
    max-height: 100px;
}

.container {
    margin: var(--cpd-space-4x) 0 var(--cpd-space-4x) auto;
    display: flex;
    column-gap: var(--cpd-space-1x);
    border-inline-start: 2px solid var(--cpd-color-bg-subtle-primary);
    border-radius: 2px;
    color: var(--cpd-color-gray-900);
    &.compactLayout & {
        margin-top: 6px;
        margin-bottom: 6px;
    }

    /* Exclude mx_LinkPreviewGroup_hide from wrapping */
    .mx_LinkPreviewWidget_wrapImageCaption {
        display: flex;
        flex-wrap: wrap;
        row-gap: var(--cpd-space-2x);
        flex: 1;

        .mx_LinkPreviewWidget_image,
        .mx_LinkPreviewWidget_caption {
            margin-inline-start: var(--cpd-space-4x);
            min-width: 0; /* Prevent blowout */
        }

        .mx_LinkPreviewWidget_image {
            flex: 0 0 100px;
            text-align: center;
            cursor: pointer;
        }

        .mx_LinkPreviewWidget_caption {
            flex: 1;
            overflow: hidden; /* cause it to wrap rather than clip */
        }

        .mx_LinkPreviewWidget_title,
        .mx_LinkPreviewWidget_description {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            white-space: normal;
        }

        .mx_LinkPreviewWidget_title {
            font-weight: bold;
            -webkit-line-clamp: 2;

            .mx_LinkPreviewWidget_siteName {
                font-weight: normal;
            }
        }

        .mx_LinkPreviewWidget_description {
            margin-top: var(--cpd-space-2x);
            word-wrap: break-word;
            -webkit-line-clamp: 3;
        }
    }
}
