/*
 * Copyright 2026 Element Creations Ltd.
 *
 * SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
 * Please see LICENSE files in the repository root for full details.
 */

.thumbnail {
    /* Thumbnails are always limited to a maxiumum of 100px */
    max-height: 200px;
    /* Ensure we don't stretch the image */
    object-fit: cover;
}

.preview {
    display: block;
    position: relative;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    > button {
        /* Clear default <button> styles */
        padding: 0;
        border: none;
        background: none;
        width: 100%;
        height: 100%;
        .playIcon {
            width: 50px;
            height: 50px;
            margin: auto;
            border-radius: 50px;
            background: #e1e6ec; /* var(--cpd-color-gray-400);*/
            svg {
                margin: 12px;
            }
        }
    }

    .duration {
        position: absolute;
        right: var(--cpd-space-2x);
        bottom: var(--cpd-space-2x);
        background: #e1e6ec;
        border-radius: 1em;
        padding: 2px 4px;
    }
}

.link {
    color: var(--cpd-color-text-link-external);
    text-decoration-line: none;
    width: 100%;
    height: 50px;
    aspect-ratio: 1; /* will make width equal to height (500px container) */
    object-fit: cover; /* use the one you need */
    border-radius: 6px;
    margin-top: auto;
    margin-bottom: auto;
}

.container {
    max-width: 478px;
    display: flex;
    border: 1px solid var(--cpd-color-border-interactive-secondary);
    border-radius: 12px; /* Get radius from cpd */
    flex-direction: column;
    color: var(--cpd-color-gray-900);
    overflow: clip;

    &.inline {
        flex-direction: row;

        .siteAvatar {
            margin: auto var(--cpd-space-2x);
        }
    }

    .textContent {
        padding: var(--cpd-space-3x) var(--cpd-space-4x);
        display: flex;
        flex-direction: column;
        gap: var(--cpd-space-2x);
    }

    .caption {
        display: inline-flex;
        flex-direction: column;
        min-width: 0; /* Prevent blowout */
    }
    .caption {
        flex: 1;
        overflow: hidden; /* cause it to wrap rather than clip */
    }

    .title,
    .description {
        display: inline-block;
        -webkit-box-orient: vertical;
        overflow: hidden;
        white-space: normal;
    }

    .title {
        display: inline-block;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        margin: var(--cpd-space-1x) 0;
        font-weight: var(--cpd-font-weight-semibold);
        color: var(--cpd-color-text-primary);
        text-decoration-line: none;
    }

    .description {
        margin: 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        overflow: hidden;
    }

    .siteName {
        margin-top: var(--cpd-space-2x);
        vertical-align: middle;
        display: flex;
        gap: var(--cpd-space-1-5x);
    }

    .author {
        vertical-align: middle;
        display: flex;
        gap: var(--cpd-space-3x);
        div {
            display: flex;
            flex-direction: column;
        }
    }
}
