/*
 * Copyright 2026 Element Creations Ltd.
 *
 * SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
 * Please see LICENSE files in the repository root for full details.
 */

.toolbar {
    display: inline-flex;
    flex-direction: row;
    padding: 0;
    gap: var(--cpd-space-0-5x);
    border-radius: 8px;
    background: var(--cpd-color-bg-canvas-default);
    border: var(--cpd-border-width-1) solid var(--cpd-color-border-disabled);

    .toolbar_item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 !important;
        border: none !important;
        min-block-size: 0 !important;

        margin: 3px !important;
        border-radius: 6px !important;

        &:disabled,
        &[disabled] {
            cursor: not-allowed;
            opacity: 0.75;
        }

        &:hover {
            color: var(--cpd-color-icon-primary) !important;
            background: var(--cpd-color-bg-subtle-secondary) !important;
            z-index: 1;
        }
    }

    .toolbar_item[data-presentation="icon"] {
        block-size: 28px !important;
        inline-size: 28px !important;

        color: var(--cpd-color-icon-secondary) !important;
    }

    .toolbar_item[data-presentation="label"] {
        padding-inline-start: var(--cpd-space-2x) !important;
        padding-inline-end: var(--cpd-space-2x) !important;
        min-inline-size: unset !important;

        font: var(--cpd-font-body-md-regular);
        text-decoration: none !important;
        white-space: nowrap;
    }
}
