@layer compound-tokens, compound-web, shared-components, app-web;

@import "../../../../res/css/_font-sizes.pcss" layer(app-web);
@import "_fonts.pcss" layer(app-web);
@import "_legacy-light.pcss" layer(app-web);
@import "../../../../res/css/_components.pcss" layer(app-web);
