.mx_RoomView {
    word-wrap: break-word;
}

.mx_RoomView .mx_RoomHeader {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 30px;
}

.mx_RoomView .mx_RoomView_MessageList {
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 35px;
    bottom: 40px;
    left: 0px;
    right: 150px;
    overflow-y: scroll;
}

.mx_RoomView ul li {
    list-style-type: none;
}

.mx_RoomView .mx_MemberList {
    position: absolute;
    top: 35px;
    bottom: 40px;
    right: 0px;
    width: 150px;
    margin: 0px;
    padding: 0px;
}

.mx_RoomView .mx_MemberList ul {
    margin: 0px;
    padding: 0px;
}

.mx_RoomView .mx_MessageComposer {
    position: absolute;
    bottom: 5px;
    right: 0px;
    left: 0px;
    height: 36px;
}
