.mx_ExportDialog_subheading {
    font-size: $font-16px;
    display: block;
    font-family: $font-family;
    font-weight: 600;
    color: $primary-fg-color;
    margin-top: 18px;
    margin-bottom: 12px;
}

.mx_ExportDialog .mx_RadioButton > .mx_RadioButton_content {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mx_ExportDialog .mx_Field {
    width: 256px;
}

.mx_ExportDialog .mx_Field_postfix {
    padding: 9px 10px;
}
