.mx_CryptographyPanel_sessionInfo {
    padding: 0em;
    border-spacing: 0px;
}
.mx_CryptographyPanel_sessionInfo > tr {
    vertical-align: baseline;
    padding: 0em;
}

.mx_CryptographyPanel_sessionInfo > tr > td {
    padding-bottom: 0em;
    padding-left: 0em;
    padding-right: 1em;
    padding-top: 0em;
}

.mx_CryptographyPanel_importExportButtons .mx_AccessibleButton {
    margin-right: 10px;
}

.mx_CryptographyPanel_importExportButtons {
    margin-bottom: 15px;
}
