Source: element-web
Maintainer: support@element.io
Section: web
Priority: optional
Homepage: https://element.io/

Package: element-web
Architecture: all
Recommends: element-io-archive-keyring
Description:
  A feature-rich client for Matrix.org
