/*
 * Copyright 2026 Element Creations Ltd.
 *
 * SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
 * Please see LICENSE files in the repository root for full details.
 */

.toolbar {
    display: inline-flex;
    flex-direction: row;
    padding: 0;
    gap: var(--cpd-space-0-5x);
    border-radius: 8px;
    background: var(--cpd-color-bg-canvas-default);
    border: var(--cpd-border-width-1) solid var(--cpd-color-border-disabled);
}

.toolbar_item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    border: none;

    block-size: unset !important;
    min-block-size: 28px !important;

    inline-size: unset !important;
    min-inline-size: 28px !important;

    margin: 3px;
    border-radius: 6px !important;
    text-decoration: none !important;
    color: var(--cpd-color-icon-secondary) !important;

    &:disabled,
    &[disabled] {
        cursor: not-allowed;
        opacity: 0.75;
    }

    &:hover {
        color: var(--cpd-color-icon-primary) !important;
        background: var(--cpd-color-bg-subtle-secondary) !important;
        z-index: 1;
    }
}
