.mx_HomePage_col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mx_HomePage_row {
    flex: 1 1 0;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mx_HomePage_logo {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    display: inline;
    height: 100px;
}

.mx_HomePage_room {
    cursor: pointer;
    float: left;
    text-decoration: none;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 120px;
}

.mx_HomePage_room .mx_HomePage_icon {
    border-radius: 50%;
    width: 65px;
    height: 65px;
}

.mx_HomePage_room .mx_HomePage_name {
    display: block;
}

.mx_HomePage_room .mx_HomePage_desc {
    display: block;
    font-size: 12px;
    margin-top: 8px;
}

.mx_HomePage_comment {
    display: block;
    margin-left: 140px;
    vertical-align: top;
}

h3::after, h4::after {
    content: ":";
}

.mx_HomePage_container {
    display: block ! important;
    margin: 20px;
}

.mx_HomePage_container h1 {
    margin: 0px;
    margin-top: 35px;
}

.mx_HomePage_container h2 {
    margin-top: 5px;
}