.mx_Autocomplete {
    position: absolute;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    border: 1px solid #e5e5e5;
    background: white;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    max-height: 50vh;
    overflow: auto
}

.mx_Autocomplete_ProviderSection {
    border-bottom: 1px solid #e5e5e5;
}

.mx_Autocomplete_Completion_container_pill {
    margin: 12px;
    display: flex;
}

/* a "block" completion takes up a whole line */
.mx_Autocomplete_Completion_block {
    height: 34px;
    display: flex;
    padding: 0 12px;
    user-select: none;
    cursor: pointer;
    align-items: center;
    color: #4a4a4a;
}

.mx_Autocomplete_Completion_block * {
     margin: 0 3px;
}

.mx_Autocomplete_Completion_pill {
    border-radius: 17px;
    height: 34px;
    display: flex;
    user-select: none;
    cursor: pointer;
    align-items: center;
    color: #4a4a4a;
}

.mx_Autocomplete_Completion_pill * {
    margin: 0 3px;
}

/* container for pill-style completions */
.mx_Autocomplete_Completion_container_pill {
    margin: 12px;
    display: flex;
    flex-flow: wrap;
}

.mx_Autocomplete_Completion.selected {
    background: #f6f6f6;
    outline: none;
}

.mx_Autocomplete_provider_name {
    margin: 12px;
    color: #454545;
    font-weight: 400;
    opacity: 0.4;
}

/* styling for common completion elements */
.mx_Autocomplete_Completion_subtitle {
    font-style: italic;
    flex: 1;
}

.mx_Autocomplete_Completion_description {
    color: gray;
}
