/*
Copyright 2026 Element Creations Ltd.

SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE files in the repository root for full details.
*/

@layer compound-tokens, compound-web, shared-components, app-deps, app-web;

@import url("maplibre-gl/dist/maplibre-gl.css") layer(app-web);
@import url("@vector-im/compound-design-tokens/assets/web/css/compound-design-tokens.css") layer(compound-tokens);
@import url("@vector-im/compound-web/dist/style.css") layer(compound-web);
@import url("@element-hq/web-shared-components/dist/element-web-shared-components.css") layer(shared-components);
