.mx_AnswerEntry:not(:last-child) {
    margin-bottom: $spacing-8;
}

.mx_AnswerEntry_Header {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-8;
}

.mx_AnswerEntry_Header_answerName {
    font-weight: bolder;
    flex-grow: 1
}

.mx_VoterEntry {
    display: flex;
    align-items: center;
    margin-left: $spacing-16;
}

.mx_VoterEntry_AvatarWrapper {
    margin-right: $spacing-8;
}
