/*
 * Copyright 2025 New Vector Ltd.
 *
 * SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
 * Please see LICENSE files in the repository root for full details.
 */

.historyVisibility {
    /* The !important flag is required to ensure these styles are not overridden by
       @vector-im/compound-web's stylesheets, which *may* be loaded after this bundle. */
    border-radius: 0 !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
}

.historyVisibilityButton {
    /* See above. */
    white-space: nowrap !important;
}
