/*
 * Copyright 2026 Element Creations Ltd.
 *
 * SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
 * Please see LICENSE files in the repository root for full details.
 */

.content {
    display: inline-flex;
    flex-direction: row;
    gap: var(--cpd-space-3x);
    height: var(--cpd-space-9x);
}

.content [data-type="info"] {
    display: inline-flex;
    align-items: center;
    flex-grow: 1;
    cursor: pointer;

    & [data-type="info-icon"] {
        display: inline-flex;
        align-items: center;
        background-color: inherit;
        width: 16px;
        height: 16px;
        padding: var(--cpd-space-2x);

        svg {
            width: inherit;
            height: inherit;
            display: block;
        }
    }

    & [data-type="info-label"] {
        font: var(--cpd-font-body-md-regular);
        color: var(--cpd-color-text-primary);
        padding: var(--cpd-space-2x);
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex-grow: 1;
    }
}

.content [data-type="download"] {
    color: var(--cpd-color-text-action-accent);

    & iframe {
        margin: 0;
        padding: 0;
        border: none;
        width: 100%;
    }

    & object {
        margin-left: -16px;
        padding-right: 4px;
        margin-top: -4px;
        vertical-align: middle;
        pointer-events: none;
    }
}

.content [data-type="invalid"] {
    display: inline-flex;
    align-items: center;
}
