.container {
    margin-right: var(--EventTile_content-margin-inline-end);

    /* to match URL preview width */
    max-width: 478px;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
