.container {
    max-width: var(--MediaPreview-width);

    display: flex;
    flex-direction: column;
    gap: var(--cpd-space-1x);

    margin-top: var(--cpd-space-2x);
    margin-bottom: var(--cpd-space-2x);
}
