/*
 * Nunito.
 * Includes extended Latin and Vietnamese character sets
 * Current URLs are taken from
 * https://github.com/alexeiva/NunitoFont/releases/tag/v3.500
 * ...in order to include cyrillic.
 *
 * Previously, they were
 * https://fonts.googleapis.com/css?family=Nunito:400,400i,600,600i,700,700i&subset=latin-ext,vietnamese
 *
 * We explicitly do not include Nunito's italic variants, as they are not italic enough
 * and it's better to rely on the browser's built-in obliquing behaviour.
 */

/* the 'src' links are relative to the bundle.css, which is in a subdirectory.
 */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('$(res)/fonts/Nunito/Nunito-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    src: url('$(res)/fonts/Nunito/Nunito-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: url('$(res)/fonts/Nunito/Nunito-Bold.ttf') format('truetype');
}

/*
 * Fira Mono
 * Used for monospace copy, i.e. code
 */

@font-face {
    font-family: 'Fira Mono';
    src: url('$(res)/fonts/Fira_Mono/FiraMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Mono';
    src: url('$(res)/fonts/Fira_Mono/FiraMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* a COLR/CPAL version of Twemoji used for consistent cross-browser emoji
 * taken from https://github.com/mozilla/twemoji-colr
 * using the fix from https://github.com/mozilla/twemoji-colr/issues/50 to
 * work on macOS
 */
@font-face {
    font-family: "Twemoji Mozilla";
    src: url('$(res)/fonts/Twemoji_Mozilla/TwemojiMozilla.woff2') format('woff2');
}
