// XXX: check this?
/* Nunito lacks combining diacritics, so these will fall through
   to the next font.  Helevetica's diacritics however do not combine
   nicely (on OSX, at least) and result in a huge horizontal mess.
   Arial empirically gets it right, hence prioritising Arial here. */
/* We fall through to Twemoji for emoji rather than falling through
   to native Emoji fonts (if any) to ensure cross-browser consistency */
/* Noto Color Emoji contains digits, in fixed-width, therefore causing
   digits in flowed text to stand out.
   TODO: Consider putting all emoji fonts to the end rather than the front. */
$font-family: 'Inter', 'Twemoji', 'Apple Color Emoji', 'Segoe UI Emoji', 'Arial', 'Helvetica', sans-serif, 'Noto Color Emoji';

$monospace-font-family: 'Inconsolata', 'Twemoji', 'Apple Color Emoji', 'Segoe UI Emoji', 'Courier', monospace, 'Noto Color Emoji';

// Colors from Figma Compound https://www.figma.com/file/X4XTH9iS2KGJ2wFKDqkyed/Compound?node-id=559%3A120
// ********************
$primary-content: #17191C;
$secondary-content: #737D8C;
$tertiary-content: #8D97A5;
$quaternary-content: #c1c6cd;
$quinary-content: #E3E8F0;

$system: #F4F6FA;
$background: #ffffff;

$panels: rgba($system, 0.9);
$panel-selected: rgba($tertiary-content, 0.3);
$panel-hover: rgba($tertiary-content, 0.1);
$panel-actions: rgba($tertiary-content, 0.2);
$space-nav: rgba($tertiary-content, 0.15);

$accent: #0DBD8B;
$alert: #FF5B55;
$links: #0086e6;

$username-variant1-color: #368bd6;
$username-variant2-color: #ac3ba8;
$username-variant3-color: #0DBD8B;
$username-variant4-color: #e64f7a;
$username-variant5-color: #ff812d;
$username-variant6-color: #2dc2c5;
$username-variant7-color: #5c56f5;
$username-variant8-color: #74d12c;
// ********************

// Reused Figma non-compound colors
// ********************
$inverted-bg-color: #27303a;
$header-panel-bg-color: #f3f8fd;
// ********************

// Theme specific colors
// ********************
$icon-button-color: $quaternary-content;
// ********************

// Colors that aren't in Figma and are theme specific - we need to get rid of these
// ********************
$selection-fg-color: $background;
$yellow-background:  #fff8e3;
$secondary-accent-color: #f2f5f8;
$button-fg-color: $background;
$neutral-badge-color: #dbdbdb;
$strong-input-border-color: #c7c7c7;
$preview-widget-bar-color: #dddddd;
$accent-fg-color: $background;
$accent-alt: #238CF5;
$info-plinth-fg-color: #888;
// ********************

// Colors that aren't in Figma - we need to get rid of these
// ********************
$dark-panel-bg-color: $secondary-accent-color;
$muted-fg-color: #61708b;
$light-fg-color: #747474;
$focus-bg-color: $preview-widget-bar-color;
$info-plinth-bg-color: #f7f7f7;
$event-selected-color: #f6f7f8;
$topleftmenu-color: #212121;
$roomtopic-color: #9e9e9e;
$groupFilterPanel-bg-color: rgba(232, 232, 232, 0.77);
$panel-gradient: rgba(242, 245, 248, 0), rgba(242, 245, 248, 1);
$h3-color: #3d3b39;
$event-highlight-bg-color: $yellow-background;
$header-panel-text-primary-color: #91A1C0;
// ********************

// Blockquote
// ********************
$blockquote-bar-color: $focus-bg-color;
// ********************

// Tooltip
// ********************
$tooltip-timeline-bg-color: $inverted-bg-color;
$tooltip-timeline-fg-color: $background;
// ********************

// Widget
// ********************
$widget-menu-bar-bg-color: $secondary-accent-color;
$widget-body-bg-color: $background;
// ********************

// Menu
// ********************
$menu-border-color: #e7e7e7;
$menu-bg-color: $background;
$menu-box-shadow-color: rgba(118, 131, 156, 0.6);
$menu-selected-color: #f5f8fa;
// ********************

// Settings
// ********************
$settings-grey-fg-color: #a2a2a2;
$settings-profile-overlay-placeholder-fg-color: #2e2f32;
$settings-profile-button-bg-color: $menu-border-color;
$settings-subsection-fg-color: $muted-fg-color;
// ********************

// RoomHeader
// ********************
$roomheader-addroom-bg-color: rgba(92, 100, 112, 0.2);
$roomheader-addroom-fg-color: #5c6470;
// ********************

// Rich-text-editor
// ********************
$rte-room-pill-color: #aaa;
$other-user-pill-bg-color: rgba(0, 0, 0, 0.1);
$rte-bg-color: #e9e9e9;
$rte-code-bg-color: rgba(0, 0, 0, 0.04);
// ********************

// Presence
// ********************
$presence-away: #d9b072;
$presence-offline: $quinary-content;
// ********************

// Inputs
// ********************
$input-border-color: $menu-border-color;
$input-darker-bg-color: $quinary-content;
$input-darker-fg-color: #9fa9ba;
$input-lighter-bg-color: $secondary-accent-color;
$input-underline-color: rgba(151, 151, 151, 0.5);
$input-fg-color: rgba(74, 74, 74, 0.9);
// ********************

// Dialog
// ********************
$dialog-title-fg-color: #45474a;
$dialog-backdrop-color: rgba(46, 48, 51, 0.38);
$dialog-close-fg-color: #c1c1c1;
$dialog-close-external-color: $background;
$dialog-shadow-color: rgba(0, 0, 0, 0.48);
// ********************

// ImageBody
// ********************
$imagebody-giflabel: rgba(0, 0, 0, 0.7);
$imagebody-giflabel-border: rgba(0, 0, 0, 0.2);
$imagebody-giflabel-color: $background;
// ********************

// RoomList
// ********************
$roomlist-bg-color: rgba(245, 245, 245, 0.90);
$roomsublist-skeleton-ui-bg: linear-gradient(180deg, $background 0%, #ffffff00 100%);
$roomtile-default-badge-bg-color: $muted-fg-color;
// ********************

// e2e
// ********************
$e2e-verified-color: #76cfa5; // N.B. *NOT* the same as $accent
$e2e-unknown-color: #e8bf37;
$e2e-unverified-color: #e8bf37;
$e2e-warning-color: #ba6363;
// ********************

// Tabbed views
// ********************
$tab-label-fg-color: $dialog-title-fg-color;
$tab-label-active-fg-color: $background;
// ********************

// Buttons
// ********************
$button-primary-fg-color: $background;
$button-secondary-bg-color: $accent-fg-color;
$button-danger-fg-color: $background;
$button-danger-disabled-fg-color: $background;
$button-danger-disabled-bg-color: #f5b6bb; // TODO: Verify color
// ********************

// Toggle switch
// ********************
$togglesw-off-color: #c1c9d6;
$togglesw-ball-color: $background;
// ********************

// Authpage
// ********************
$authpage-primary-color: #232f32;
$authpage-bg-color: #2e3649;
$authpage-modal-bg-color: $roomlist-bg-color;
$authpage-focus-bg-color: $focus-bg-color;
$authpage-lang-color: #4e5054;
$authpage-secondary-color: $muted-fg-color;
// ********************

// Message action bar
// ********************
$message-action-bar-bg-color: $background;
$message-action-bar-fg-color: $primary-content;
$message-action-bar-border-color: #e9edf1;
$message-action-bar-hover-border-color: $focus-bg-color;
// ********************

// Reaction row
// ********************
$reaction-row-button-hover-border-color: $focus-bg-color;
$reaction-row-button-selected-bg-color: #e9fff9;
// ********************

// Voice messages
// ********************
// These two don't change between themes. They are the $alert, but we don't want
// custom themes to affect them by accident.
$voice-record-stop-symbol-color: #ff5b55;
$voice-record-live-circle-color: #ff5b55;
$voice-record-stop-border-color: $quinary-content;
$voice-record-icon-color: $tertiary-content;
// ********************

// Bubble tiles
// ********************
$eventbubble-self-bg: #F0FBF8;
$eventbubble-others-bg: $system;
$eventbubble-bg-hover: #FAFBFD;
$eventbubble-reply-color: $quaternary-content;
// ********************

// Lightbox
// ********************
$lightbox-fg-color: $background;
$lightbox-background-bg-color: #000;
$lightbox-background-bg-opacity: 0.95;
// ********************

// VoIP
// ********************
$call-view-button-on-foreground: $secondary-content;
$call-view-button-on-background: $background;
$call-view-button-off-foreground: $background;
$call-view-button-off-background: $secondary-content;

$video-feed-secondary-background: #394049; // XXX: Color from dark theme
$voipcall-plinth-color: $system;
// ********************

// One-off colors
// ********************
$progressbar-bg-color: $panel-actions;
$kbd-border-color: $message-action-bar-border-color;
$visual-bell-bg-color: #faa;
$event-timestamp-color: #acacac;
$slider-background-color: $togglesw-off-color;
$appearance-tab-border-color: $input-darker-bg-color;
$composer-shadow-color: rgba(0, 0, 0, 0.04);
$breadcrumb-placeholder-bg-color: #e8eef5;
$theme-button-bg-color: $quinary-content;
$resend-button-divider-color: $input-darker-bg-color;
$codeblock-background-color: $header-panel-bg-color;
$scrollbar-thumb-color: rgba(0, 0, 0, 0.2);
$selected-color: $secondary-accent-color;
// ********************

// One-off global colors - these apply to both themes
// ********************
$pinned-color: $tertiary-content;
$avatar-initial-color: $background;
$primary-hairline-color: transparent;
$focus-brightness: 105%;
// ********************

// blur amounts for left left panel (only for element theme)
// ********************
:root {
    --lp-background-blur: 40px;
}
// ********************

// Icon URLs
// ********************
$copy-button-url: "$(res)/img/feather-customised/clipboard.svg";
// ********************

// Mixins
// ********************
@define-mixin mx_DialogButton {
    /* align images in buttons (eg spinners) */
    vertical-align: middle;
    border: 0px;
    border-radius: 8px;
    font-family: $font-family;
    font-size: $font-14px;
    color: $button-fg-color;
    background-color: $accent;
    width: auto;
    padding: 7px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    cursor: pointer;
    display: inline-block;
    outline: none;
}

@define-mixin mx_DialogButton_hover {
}

@define-mixin mx_DialogButton_danger {
    background-color: $accent;
}

@define-mixin mx_DialogButton_small {
    @mixin mx_DialogButton;
    font-size: $font-15px;
    padding: 0px 1.5em 0px 1.5em;
}

@define-mixin mx_DialogButton_secondary {
    // flip colours for the secondary ones
    font-weight: 600;
    border: 1px solid $accent !important;
    color: $accent;
    background-color: $button-secondary-bg-color;
}

@define-mixin mx_Dialog_link {
    color: $accent;
    text-decoration: none;
}
// ********************

// diff highlight colors
// ********************
.hljs-addition {
    background: #dfd;
}

.hljs-deletion {
    background: #fdd;
}
// ********************
