/build/
/dockerbuild/
/lib/
/node_modules/
/packages.elememt.io/
/webapp
/src/i18n/strings
/CHANGELOG.md
/package-lock.json
/pnpm-lock.yaml
/playwright/html-report
/playwright/test-results

**/.idea
.vscode
.vscode/
.tmp
.env
/coverage
/.npmrc
/*.log
