/*
 * Copyright 2026 Element Creations Ltd.
 *
 * SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
 * Please see LICENSE in the repository root for full details.
 */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.body {
    max-width: 400px;
    text-align: center;
}
