@font-face {
  font-family:PostGrotesk-Medium;
  src:url('https://status.im/fonts/PostGrotesk-Medium.eot');
  src:url('https://status.im/fonts/PostGrotesk-Medium.eot?#iefix') format("embedded-opentype"),url('https://status.im/fonts/PostGrotesk-Medium.woff') format("woff"),url('https://status.im/fonts/PostGrotesk-Medium.svg#PostGrotesk-Medium') format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:PostGrotesk-Book;
  src:url('https://status.im/fonts/PostGrotesk-Book.eot');
  src:url('https://status.im/fonts/PostGrotesk-Book.eot?#iefix') format("embedded-opentype"),url('https://status.im/fonts/PostGrotesk-Book.woff') format("woff"),url('https://status.im/fonts/PostGrotesk-Book.svg#PostGrotesk-Book') format("svg");
  font-weight: 400;
  font-style: normal;
}
