@font-face {
    font-family:PostGrotesk-Medium;
    src:url('https://status.im/fonts/PostGrotesk-Medium.eot');
    src:url('https://status.im/fonts/PostGrotesk-Medium.eot?#iefix') format("embedded-opentype"),url('https://status.im/fonts/PostGrotesk-Medium.woff') format("woff"),url('https://status.im/fonts/PostGrotesk-Medium.svg#PostGrotesk-Medium') format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:PostGrotesk-Book;
    src:url('https://status.im/fonts/PostGrotesk-Book.eot');
    src:url('https://status.im/fonts/PostGrotesk-Book.eot?#iefix') format("embedded-opentype"),url('https://status.im/fonts/PostGrotesk-Book.woff') format("woff"),url('https://status.im/fonts/PostGrotesk-Book.svg#PostGrotesk-Book') format("svg");
    font-weight: 400;
    font-style: normal;
}

// We deliberately prioritise Arial over Helvetica here due to diacritic problems (see _base.scss)
// N.B. that the status.im website uses:
// font-family:PostGrotesk-Book,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
// ...but can't be bothered to work out how the apple fonts & segoe interact, so keepingn it simple for now.

$font-family: PostGrotesk-Book, Arial, Helvetica, Sans-Serif;

// typical text (dark-on-white in light skin)
$primary-fg-color: #70808D;
$primary-bg-color: #EEF2F5;

// ***** Start of Status theme specifics ******
$header-color: #49555F;
$header-font-family: PostGrotesk-Medium, Arial, Helvetica, Sans-Serif;

$footer-color: #8D99A4;

$riot-link-color: #A26988;

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,h2,h3,h4,h5 {
    color: $header-color;
    font-family: $header-font-family;
    font-weight: 400 ! important;
}

$callout-color: #4360DF; // or #4957b8 from status.im homepage

$form-bg-color: $callout-color;
$form-fg-color: #ffffff;

$form-field-bg-color: rgba(244, 242, 247, 0.12);
$form-field-bg-hover-color: rgba(255, 255, 255, 0.2);
$form-field-fg-color: #ffffff;

// ***** End of Status theme specifics ******


// used for dialog box text
$light-fg-color: #747474;

// used for focusing form controls
$focus-bg-color: #dddddd;

// button UI (white-on-green in light skin)
$accent-fg-color: #ffffff;
$accent-color: #6CC1F6;
$accent-hover-color: #84cfff;

$selection-fg-color: $primary-bg-color;

$focus-brightness: 125%;

// red warning colour
$warning-color: #F69E98;
$warning-bg-color: #DF2A8B;
$info-bg-color: #2A9EDF;
$mention-user-pill-bg-color: #ff0064;
$other-user-pill-bg-color: rgba(0, 0, 0, 0.1);

$group-alert-color: #774f7e;

$preview-bar-bg-color: #f7f7f7;

// left-panel style muted accent color
$secondary-accent-color: #586C7B;
$tertiary-accent-color: #DBEBF6;

// stop the tinter trying to change the secondary accent color
// by overriding the key to something untintable
// XXX: this is a bit of a hack.
#mx_theme_secondaryAccentColor {
    color: #c0ffee ! important;
}

#mx_theme_tertiaryAccentColor {
    color: #c0ffee ! important;
}

// used by RoomDirectory permissions
$plinth-bg-color: $secondary-accent-color;

// used by RoomDropTarget
$droptarget-bg-color: rgba(255,255,255,0.5);

// used by AddressSelector
$selected-color: #eaf5f0;

// selected for hoverover & selected event tiles
$event-selected-color: #f7f7f7;

// used for the hairline dividers in RoomView
$primary-hairline-color: #e5e5e5;

// used for the border of input text fields
$input-border-color: #c9cfd4;

// apart from login forms, which have stronger border
$strong-input-border-color: #c7c7c7;

// used for UserSettings EditableText
$input-underline-color: rgba(151, 151, 151, 0.5);
$input-fg-color: rgba(74, 74, 74, 0.9);

// context menus
$menu-border-color: rgba(187, 187, 187, 0.5);
$menu-bg-color: #f6f6f6;

$avatar-initial-color: #ffffff;
$avatar-bg-color: transparent;

$h3-color: #3d3b39;

$dialog-background-bg-color: #e9e9e9;
$lightbox-background-bg-color: #000;

$greyed-fg-color: #888;

$neutral-badge-color: #dbdbdb;

$preview-widget-bar-color: #ddd;
$preview-widget-fg-color: $greyed-fg-color;

$blockquote-bar-color: #ddd;
$blockquote-fg-color: #777;

$settings-grey-fg-color: #a2a2a2;

$voip-decline-color: #f48080;
$voip-accept-color: #80f480;

$rte-bg-color: #e9e9e9;
$rte-code-bg-color: rgba(0, 0, 0, 0.04);
$rte-room-pill-color: #aaa;

// ********************

$roomtile-name-color: #ffffff;
$roomtile-selected-bg-color: #465561;
$roomtile-focused-bg-color: #6d8597;

$roomsublist-background: rgba(0, 0, 0, 0.2);
$roomsublist-label-fg-color: #ffffff;
$roomsublist-label-bg-color: $secondary-accent-color;
$roomsublist-chevron-color: #ffffff;

$panel-divider-color: rgba(0, 0, 0, 0.2);

// ********************

$widget-menu-bar-bg-color: #f7f7f7;

// ********************

// event tile lifecycle
$event-encrypting-color: #abddbc;
$event-sending-color: #ddd;
$event-notsent-color: #f44;

// event redaction
$event-redacted-fg-color: #e2e2e2;
$event-redacted-border-color: #cccccc;

// event timestamp
$event-timestamp-color: #acacac;

$edit-button-url: "../../img/icon_context_message.svg";
$copy-button-url: "../../img/icon_copy_message.svg";

// e2e
$e2e-verified-color: #76cfa5; // N.B. *NOT* the same as $accent-color
$e2e-unverified-color: #e8bf37;
$e2e-warning-color: #ba6363;

/*** ImageView ***/
$lightbox-bg-color: #454545;
$lightbox-fg-color: #ffffff;
$lightbox-border-color: #ffffff;

// unused?
$progressbar-color: #000;

@define-mixin mx_DialogButton {
    /* align images in buttons (eg spinners) */
    vertical-align: middle;
    border-radius: 8px;
    border: 1px solid rgba(199, 206, 209, 0.12);
    background-color: $accent-color;
    font-size: 13px;
    font-family: $header-font-family;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $accent-fg-color;
    cursor: pointer;
    outline: none;
    padding: 14px;
    box-sizing: border-box;
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: inline-block;
    transition: background-color .2s ease;
}

@define-mixin mx_DialogButton_hover {
    background-color: $accent-hover-color;
}

@define-mixin mx_DialogButton_small {
    @mixin mx_DialogButton;
    height: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 1em;
    padding-right: 1em;
}

.mx_RoomSubList_label {
    font-size: 13px;
    font-family: $header-font-family;
    letter-spacing: 1px;
}

// FIXME: all these ! importants are horrid - we should instead go and define
// variables or something.
.mx_SearchBox_search {
    color: #fff ! important;
}

.mx_SearchBox_search::-webkit-input-placeholder  {
    color: rgba(255, 255, 255, 0.6) ! important;
}

.mx_SearchBox_search::-moz-placeholder  {
    color: rgba(255, 255, 255, 0.6) ! important;
}

.mx_RoomList_emptySubListTip,
.mx_RoomDropTarget {
    font-size: 14px ! important;
    border: 1.5px dashed rgba(0,0,0,0.2) ! important;
    color: #fff ! important;
    background-color: transparent ! important;
    border-radius: 6px ! important;
    margin-left: 6px ! important;
    margin-right: 6px ! important;
    margin-top: 8px ! important;
    margin-bottom: 7px ! important;
    padding: 8px ! important;
}

.mx_RoomDirectory_perm {
    font-family: $header-font-family ! important;
    background-color: #fff ! important;
}

.mx_RoomTile_badge,
.mx_RoomSubList_badge {
    height: 12px ! important;
    padding-top: 1px ! important;
    padding-bottom: 1px ! important;
}

.mx_RoomSubList_chevron {
    top: 8px ! important;
}

.mx_MemberInfo .mx_RoomTile_name {
    color: $primary-fg-color ! important;
}
