.header,
.body {
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    min-width: 0;
    display: -webkit-box;
    overflow: clip;
}

.leftGroup {
    display: flex;
    gap: 12px;
    flex-grow: 1;
}

.header {
    font-weight: 600;
}

.body {
    font-size: 86.666%; /* 13/15 of header size */
    color: var(--cpd-color-gray-900);
}

.textContent {
    display: inline-block;
}

.icon {
    button {
        border: none;
        background: none;
        height: 100%;
        aspect-ratio: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 6px;
        cursor: pointer;
    }

    display: flex;
    height: 100%;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    border-radius: 6px;
    border: 1px solid var(--cpd-color-icon-quaternary);
    background-color: var(--cpd-color-bg-decorative-4);

    svg {
        display: block;
        height: 57%;
        width: 57%;
    }
}

.buttonGroup {
    display: flex;
    gap: 12px;
}

.button {
    background: none;
    border: none;
    cursor: pointer;

    svg {
        color: var(--cpd-color-icon-secondary);
        display: block;
        height: calc(var(--cpd-icon-button-size) * 0.625);
        width: calc(var(--cpd-icon-button-size) * 0.625);
    }
}

.image {
    button {
        cursor: pointer;
        background: none;
        border: none;
        width: 100%;
        padding: 0;
    }

    img {
        width: 100%;
        object-fit: cover;
        display: block;
    }
}

.image.bannerImage img {
    max-height: 100px;
}

.image.fullImage img {
    max-height: 300px;
    object-fit: contain;
}

.video {
    button {
        cursor: pointer;
        background: none;
        border: none;
        width: 100%;
        padding: 0;
    }

    video {
        width: 100%;
        object-fit: cover;
        display: block;
    }
}

.video.bannerVideo video {
    max-height: 100px;
}

.video.fullVideo video {
    max-height: 300px;
    object-fit: contain;
}

.audio {
    button {
        cursor: pointer;
        background: none;
        border: none;
        width: 100%;
        padding: 0;
    }

    audio {
        width: 100%;
        display: block;
    }
}
