// Colors from Figma Compound https://www.figma.com/file/X4XTH9iS2KGJ2wFKDqkyed/Compound?node-id=559%3A741
// ********************
$accent: #0DBD8B;
$alert: #FF5B55;
$links: #0086e6;
$primary-content: #ffffff;
$secondary-content: #A9B2BC;
$tertiary-content: #8E99A4;
$quaternary-content: #6F7882;
$quinary-content: #394049;
$system: #21262C;
$background: #15191E;
$panels: rgba($system, 0.9);
$panel-base: #8D97A5; // This color is not intended for use in the app
$panel-selected: rgba($panel-base, 0.3);
$panel-hover: rgba($panel-base, 0.1);
$panel-actions: rgba($panel-base, 0.2);
$space-nav: rgba($panel-base, 0.1);
// ********************

// Reused Figma non-compound colors
// ********************
$inverted-bg-color: $background;
$header-panel-bg-color: #20252B;
// ********************

// Theme specific colors
// ********************
$icon-button-color: $tertiary-content;
// ********************

// Colors that aren't in Figma - we need to get rid of these
// ********************
$header-panel-text-primary-color: #B9BEC6;
$text-secondary-color: #B9BEC6;
$header-panel-text-secondary-color: #c8c8cd;
$room-highlight-color: #343a46;
$info-plinth-fg-color: #888;
$event-highlight-bg-color: #25271F;
$groupFilterPanel-bg-color: rgba(38, 39, 43, 0.82);
$roomheader-addroom-bg-color: rgba(92, 100, 112, 0.3);
$panel-gradient: rgba(34, 38, 46, 0), rgba(34, 38, 46, 1);
$event-selected-color: $system;
$progressbar-bg-color: $system;
$topleftmenu-color: $primary-content;
$roomheader-addroom-fg-color: $primary-content;
$h3-color: $primary-content;
$focus-bg-color: $room-highlight-color;
$roomtopic-color: $text-secondary-color;
$light-fg-color: $header-panel-text-secondary-color;
$muted-fg-color: $header-panel-text-primary-color;
$info-plinth-bg-color: $header-panel-bg-color;
$dark-panel-bg-color: $header-panel-bg-color;
$preview-bar-bg-color: $header-panel-bg-color;
// ********************

// Settings
// ********************
$settings-grey-fg-color: #a2a2a2;
$settings-profile-overlay-placeholder-fg-color: #454545;
$settings-profile-button-bg-color: #e7e7e7;
$settings-subsection-fg-color: $text-secondary-color;
// ********************

// Rich-text editor
// ********************
$rte-room-pill-color: $room-highlight-color;
$rte-group-pill-color: $room-highlight-color;
// ********************

// Inputs
// ********************
$input-border-color: rgba(231, 231, 231, 0.2);
$input-darker-bg-color: #181b21;
$input-darker-fg-color: #61708b;
$input-lighter-bg-color: #f2f5f8;
// ********************

// Menu
// ********************
$menu-border-color: #000000;
$menu-bg-color: $header-panel-bg-color;
$menu-box-shadow-color: $background;
$menu-selected-color: $room-highlight-color;
// ********************

// Dialogs
// ********************
$dialog-title-fg-color: $primary-content;
$dialog-backdrop-color: #000;
$dialog-shadow-color: rgba(0, 0, 0, 0.48);
$dialog-close-fg-color: #9fa9ba;
// ********************

// Lightbox
// ********************
$lightbox-background-bg-color: #000;
$lightbox-background-bg-opacity: 0.85;
// ********************

// RoomList
// ********************
$roomlist-button-bg-color: rgba(141, 151, 165, 0.2); // Buttons include the filter box, explore button, and sublist buttons
$roomlist-bg-color: rgba(33, 38, 44, 0.90);
$roomsublist-skeleton-ui-bg: linear-gradient(180deg, #3e444c 0%, #3e444c00 100%);
$roomtile-default-badge-bg-color: #61708b;
// ********************

// Widgets
// ********************
$widget-menu-bar-bg-color: $header-panel-bg-color;
$widget-body-bg-color: rgba(141, 151, 165, 0.2);
// ********************

// Tabbed views
// ********************
$tab-label-fg-color: $primary-content;
$tab-label-active-fg-color: $primary-content;
// ********************

// Buttons
// ********************
$button-primary-fg-color: $primary-content;
$button-secondary-bg-color: transparent;
$button-danger-fg-color: $primary-content;
$button-danger-disabled-fg-color: $primary-content;
$button-danger-disabled-bg-color: #f5b6bb; // TODO: Verify color
// ********************

// Toggle switch
// ********************
$togglesw-off-color: $room-highlight-color;
// ********************

// Authpage
// ********************
$authpage-primary-color: $primary-content;
// ********************

// Message action bar
// ********************
$message-action-bar-bg-color: $header-panel-bg-color;
$message-action-bar-fg-color: $header-panel-text-primary-color;
$message-action-bar-border-color: #616b7f;
$message-action-bar-hover-border-color: $header-panel-text-primary-color;
// ********************

// Reaction row
// ********************
$reaction-row-button-border-color: #616b7f;
$reaction-row-button-hover-border-color: $header-panel-text-primary-color;
$reaction-row-button-selected-bg-color: #1f6954;
// ********************

// Tooltips
// ********************
$tooltip-timeline-bg-color: $groupFilterPanel-bg-color;
$tooltip-timeline-fg-color: $primary-content;
// ********************

// Voice messages
// ********************
$voice-record-stop-border-color: $quaternary-content;
$voice-record-icon-color: $quaternary-content;
// ********************

// Bubble tiles
// ********************
$eventbubble-self-bg: #14322E;
$eventbubble-others-bg: $event-selected-color;
$eventbubble-bg-hover: #1C2026;
$eventbubble-reply-color: #C1C6CD;
// ********************

// VoIP
// ********************
$call-view-button-on-foreground: $primary-content;
$call-view-button-on-background: $system;
$call-view-button-off-foreground: $system;
$call-view-button-off-background: $primary-content;

$video-feed-secondary-background: $system;
// ********************

// One-off colors
// ********************
$kbd-border-color: #000000;
$visual-bell-bg-color: #800;
$avatar-initial-color: #ffffff;
$theme-button-bg-color: #e3e8f0;
$codeblock-background-color: #2a3039;
$resend-button-divider-color: #b9bec64a; // muted-text with a 4A opacity.
$breadcrumb-placeholder-bg-color: #272c35;
$composer-shadow-color: rgba(0, 0, 0, 0.28);
$scrollbar-thumb-color: rgba(255, 255, 255, 0.2);
$primary-hairline-color: transparent;
$slider-background-color: $quinary-content;
$event-timestamp-color: $text-secondary-color;
$selected-color: $room-highlight-color;
$other-user-pill-bg-color: $room-highlight-color;
$appearance-tab-border-color: $room-highlight-color;
// ********************

// blur amounts for left left panel (only for element theme)
// ********************
:root {
    --lp-background-blur: 45px;
}
// ********************

// Mixins
// ********************
@define-mixin mx_DialogButton {
    /* align images in buttons (eg spinners) */
    vertical-align: middle;
    border: 0px;
    border-radius: 8px;
    font-family: $font-family;
    font-size: $font-14px;
    color: $button-fg-color;
    background-color: $accent;
    width: auto;
    padding: 7px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    cursor: pointer;
    display: inline-block;
    outline: none;
}

@define-mixin mx_DialogButton_danger {
    background-color: $accent;
}

@define-mixin mx_DialogButton_secondary {
    // flip colours for the secondary ones
    font-weight: 600;
    border: 1px solid $accent !important;
    color: $accent;
    background-color: $button-secondary-bg-color;
}

@define-mixin mx_Dialog_link {
    color: $accent;
    text-decoration: none;
}
// ********************

// Nasty hacks to apply a filter to arbitrary monochrome artwork to make it
// better match the theme.  Typically applied to dark grey 'off' buttons or
// light grey 'on' buttons.
// ********************
.mx_filterFlipColor {
    filter: invert(1);
}
// ********************

// markdown overrides
// ********************
.mx_EventTile_content .markdown-body {
    table {
        tr {
            background-color: #000000;
        }

        tr:nth-child(2n) {
            background-color: #080808;
        }
    }
}
// ********************

// diff highlight colors
// ********************
.hljs-tag {
    color: inherit; // Without this they'd be weirdly blue which doesn't match the theme
}

.hljs-addition {
    background: #1a4b59;
}

.hljs-deletion {
    background: #53232a;
}
// ********************
