<!doctype html>
<html lang="en" style="height: 100%;">
  <head>
    <meta charset="utf-8">
    <title>Riot</title>
    <link rel="apple-touch-icon" sizes="57x57" href="vector-icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="vector-icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="vector-icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="vector-icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="vector-icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="vector-icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="vector-icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="vector-icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="vector-icons/apple-touch-icon-180x180.png">
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" href="vector-icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Riot">
    <meta name="application-name" content="Riot">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="vector-icons/mstile-144x144.png">
    <meta name="msapplication-config" content="vector-icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.vars.og_image_url %>" />
    <% for (var i=0; i < htmlWebpackPlugin.files.css.length; i++) {
        var file = htmlWebpackPlugin.files.css[i];
        var match = file.match(/^bundles\/.*?\/theme-(.*)\.css$/);
        if (match) {
            var title = match[1].charAt(0).toUpperCase() + match[1].slice(1);
        %>
           <link rel="stylesheet" disabled="disabled" title="<%= title %>" href="<%= file %>">
        <% } else { %>
           <link rel="stylesheet" href="<%= file %>">
        <% }
    } %>
  </head>
  <body style="height: 100%;">
    <section id="matrixchat" style="height: 100%; overflow: auto;"></section>
    <noscript>Sorry, Riot requires JavaScript to be enabled.</noscript> <!-- TODO: Translate this? -->
    <script>
        window.vector_indexeddb_worker_script = '<%= htmlWebpackPlugin.files.chunks['indexeddb-worker'].entry %>';
    </script>
    <script src="<%= htmlWebpackPlugin.files.chunks['bundle'].entry %>"></script>
    <img src="<%= require('matrix-react-sdk/res/img/warning.svg') %>" width="24" height="23" style="visibility: hidden; position: absolute; top: 0px; left: 0px;"/>
    <audio id="messageAudio">
        <source src="media/message.ogg" type="audio/ogg" />
        <source src="media/message.mp3" type="audio/mpeg" />
    </audio>
    <audio id="ringAudio" loop>
        <source src="media/ring.ogg" type="audio/ogg" />
        <source src="media/ring.mp3" type="audio/mpeg" />
    </audio>
    <audio id="ringbackAudio" loop>
        <source src="media/ringback.ogg" type="audio/ogg" />
        <source src="media/ringback.mp3" type="audio/mpeg" />
    </audio>
    <audio id="callendAudio">
        <source src="media/callend.ogg" type="audio/ogg" />
        <source src="media/callend.mp3" type="audio/mpeg" />
    </audio>
    <audio id="busyAudio">
        <source src="media/busy.ogg" type="audio/ogg" />
        <source src="media/busy.mp3" type="audio/mpeg" />
    </audio>
    <audio id="remoteAudio"></audio>
    <!-- let CSS themes pass constants to the app -->
    <div id="mx_theme_accentColor"></div><div id="mx_theme_secondaryAccentColor"></div><div id="mx_theme_tertiaryAccentColor"></div>
  </body>
</html>
