/*
 * Copyright 2026 Element Creations Ltd.
 *
 * SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
 * Please see LICENSE files in the repository root for full details.
 */

.separator {
    /* Necessary to avoid weird focus outlines (doubled on one side, absent on one side etc...) */
    outline-offset: -2px;
}

/* When type=border, we just render a 1px border */
.separator[data-separator-type="border"] {
    width: 0px;
    border-right: 1px solid var(--cpd-color-bg-subtle-primary);
}

/* When type=bar, we render the 12px separator */
.separator[data-separator-type="bar"] {
    width: 12px;
    display: flex;
    align-items: center;
    border-right: 1px solid var(--cpd-color-bg-subtle-primary);
}

.separator[data-separator-type="bar"][data-separator="hover"],
.separator:focus-visible {
    background: var(--cpd-color-bg-action-tertiary-hovered);
}

/* When type=bar and the user hovers/focuses the separator, we show a thicker separator */
.separator[data-separator-type="border"]:is([data-separator="hover"], [data-separator="active"]),
.separator[data-separator-type="border"]:focus-visible {
    /* We set the separator container to relative so that the child container (activeSeparatorContainer)
    can be absolutely positioned */
    position: relative;

    /* Disable the browser outline on focus */
    outline: none;

    display: flex;
    justify-content: center;

    .activeSeparatorContainer {
        /* This is hidden by default, make it visible on hover/focus */
        display: flex;
        justify-content: center;
    }
}

/* Container for the green separator */
.activeSeparatorContainer {
    display: none;

    /*
    This container is absolutely position for two reasons:
    1. By putting this container on a separate layer, we can position the thicker 2px separator
       on top of the previous location of the thinner 1px separator. This ensures that the panels
       don't change their width and leads to a more polished experience.
    2. This container also has a width that covers the entire hit region between the panels.
       This allows all the pointer events in the hit region to be captured (instead of just capturing
       the pointer events within the 2px separator).
    */
    position: absolute;
    width: 20px;
    z-index: 100;

    height: 100%;
}

/* This is the green separator shown on hover/focus */
.activeSeparator {
    width: 0px;
    border-right: 2px solid var(--cpd-color-border-accent-primary);
    outline: none;
}
