/*
 * Copyright 2026 Element Creations Ltd.
 *
 * SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
 * Please see LICENSE files in the repository root for full details.
 */

.mx_TimelineSeparator {
    clear: both;
    margin: 4px 0;
    display: flex;
    align-items: center;
    font: var(--cpd-font-body-md-regular);
    color: var(--cpd-color-text-primary);
}

.mx_TimelineSeparator > hr {
    flex: 1 1 0;
    height: 0;
    border: none;
    border-bottom: 1px solid var(--cpd-color-gray-400);
}

.mx_DateSeparator_dateContent {
    padding: 0 25px;
}

.mx_DateSeparator_dateHeading {
    flex: 0 0 auto;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    text-transform: capitalize;
}

.mx_DateSeparator_jumpToDateMenu {
    display: flex;
}

.mx_DateSeparator_chevron {
    align-self: center;
    width: 16px;
    height: 16px;
    color: var(--cpd-color-icon-secondary);
}