/*
Copyright 2026 Element Creations Ltd.

SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE files in the repository root for full details.
*/

.mx_EmojiPickerWithRecents {
    --emoji-picker-width: 700px;
    --emoji-picker-height: 520px;
    --emoji-picker-category-rail-width: 44px;
    --emoji-picker-content-width: 624px;
    --emoji-picker-row-width: 616px;
    --emoji-picker-cell-width: 56px;
    --emoji-picker-cell-height: 52px;
    --emoji-picker-glyph-size: 44px;
    --emoji-picker-cell-padding: 1px;
    --emoji-picker-footer-height: 60px;
    --emoji-picker-preview-glyph-size: 34px;
    --emoji-picker-preview-emoji-padding: 6px 12px;
    --emoji-picker-preview-text-padding-block: 0.35rem;
}
