name: Backport
on:
    pull_request_target:
        types:
            - closed
            - labeled
        branches:
            - develop

jobs:
    backport:
        name: Backport
        runs-on: ubuntu-latest
        # Only react to merged PRs for security reasons.
        # See https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#pull_request_target.
        if: >
            github.event.pull_request.merged
            && (
              github.event.action == 'closed'
              || (
                github.event.action == 'labeled'
                && contains(github.event.label.name, 'backport')
              )
            )
        steps:
            - uses: tibdex/backport@2e217641d82d02ba0603f46b1aeedefb258890ac # v2
              with:
                  labels_template: "<%= JSON.stringify([...labels, 'X-Release-Blocker']) %>"
                  # We can't use GITHUB_TOKEN here or CI won't run on the new PR
                  github_token: ${{ secrets.ELEMENT_BOT_TOKEN }}
