name: Deploy documentation

on:
    push:
        branches: [develop]
    workflow_dispatch: {}

permissions: {}

concurrency:
    group: "pages"
    cancel-in-progress: false

jobs:
    build:
        name: GitHub Pages
        runs-on: ubuntu-24.04
        steps:
            - name: Fetch element-desktop
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
              with:
                  repository: element-hq/element-desktop
                  path: element-desktop

            - name: Fetch element-web
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
              with:
                  path: element-web

            - name: Fetch matrix-js-sdk
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
              with:
                  repository: matrix-org/matrix-js-sdk
                  path: matrix-js-sdk

            - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
              with:
                  cache: "yarn"
                  cache-dependency-path: element-web/yarn.lock
                  node-version: "lts/*"

            - name: Generate automations docs
              working-directory: element-web
              run: |
                  yarn install --frozen-lockfile
                  yarn node ./scripts/gen-workflow-mermaid.ts ../element-desktop ../element-web ../matrix-js-sdk > docs/automations.md
                  echo "-   [Automations](automations.md)" >> docs/SUMMARY.md

            - name: Setup mdBook
              uses: peaceiris/actions-mdbook@ee69d230fe19748b7abf22df32acaa93833fad08 # v2
              with:
                  mdbook-version: "0.5.1"

            - name: Install mdbook extensions
              run: cargo install mdbook-combiner mdbook-mermaid

            - name: Prepare docs
              run: |
                  mkdir docs

                  mv element-desktop/README.md element-desktop/docs/
                  mv element-desktop/docs "docs/Element Desktop"

                  mv element-web/README.md element-web/docs/
                  mv element-web/docs/lib docs/
                  mv element-web/docs "docs/Element Web"

                  mv matrix-js-sdk/README.md matrix-js-sdk/docs/
                  mv matrix-js-sdk/docs "docs/Matrix JS SDK"

                  sed -i -e 's/\.\.\/README.md/README.md/' docs/**/SUMMARY.md

                  mdbook-combiner -m docs
                  sed -i -E 's/^\t# (.+)$/- [\1]()/gm;t' SUMMARY.md
                  sed -i -E 's/^- \[(.+)]\(<>\)$/---\n# \1/gm;t' SUMMARY.md
                  sed -i -E 's/\t- \[Introduction]/- [Introduction]/gm;t' SUMMARY.md

                  cat <<EOF > docs/SUMMARY.md
                  # Summary
                  - [Introduction](<Element Web/README.md>)

                  EOF
                  cat SUMMARY.md >> docs/SUMMARY.md

                  mv element-web/book.toml .

            - name: Build docs
              run: mdbook build

            - name: Upload artifact
              uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4
              with:
                  path: ./book

    deploy:
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-24.04
        permissions:
            pages: write
            id-token: write
        needs: build
        steps:
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4
