name: Shared Component View Model Tests

permissions:
    contents: read

on:
    pull_request:
        paths:
            - "packages/shared-components/**"
    merge_group:
        types: [checks_requested]
    push:
        branches: [develop, master]
        paths:
            - "packages/shared-components"

jobs:
    test-view-model:
        name: "Run View Model Tests"
        runs-on: ubuntu-24.04

        steps:
            - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
              with:
                  persist-credentials: false
                  repository: element-hq/element-web

            - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
              with:
                  cache: "yarn"
                  node-version: "lts/*"

            - name: Install dependencies
              working-directory: packages/shared-components
              run: yarn install --frozen-lockfile

            - name: Run the VM tests
              working-directory: packages/shared-components
              run: yarn test:vm
