# Re-fetches the Jitsi SDK and opens a PR to update it if it's different from what's in the repository
name: Update Jitsi
on:
    workflow_dispatch: {}
    schedule:
        - cron: "0 3 * * 0" # 3am every Sunday
permissions: {} # We use ELEMENT_BOT_TOKEN instead
jobs:
    update:
        runs-on: ubuntu-24.04
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

            - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
              with:
                  cache: "yarn"
                  node-version: "lts/*"

            - name: Install Deps
              run: "yarn install --frozen-lockfile"

            - name: Fetch Jitsi
              run: "yarn update:jitsi"

            - name: Create Pull Request
              uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7
              with:
                  token: ${{ secrets.ELEMENT_BOT_TOKEN }}
                  branch: actions/jitsi-update
                  delete-branch: true
                  title: Jitsi Update
                  labels: |
                      T-Task
